<!DOCTYPE html>
<html>
	
<head>
	<h2>Cart</h2>
  <title>Cart</title>
   <link rel="stylesheet" href="./style.css"/>
   <script src="./script.js"></script>
 </head>
 
 <table>
   <tr>
     <th>Name</th>
     <th>Brand</th>
	 <th>Quantity</th>
     <th>Price</th>
   </tr>
   <tr>
     <td>Charge 6 Fitness Tracker</td>
     <td>Fitbit </td>
	 <th>1</th>
     <td>$121.98</td>
   </tr>
   <tr>
     <td>Galaxy fit 3 AMOLED display</td>
     <td>SANSUNG</td>
	 <th>1</th>
     <td>$164.99</td>
   </tr>
    
   <tr>
      <td>Health and Fitness GPS smartwatch</td>
      <td>Garmin</td>
	  <th>1</th>
      <td>$279</td>
    </tr>
 </table>

 </html>